{% extends "luogu/makeTest.html" %}
{% load staticfiles %}
{% block css %}

{% endblock %}

{% block content %}
    <div style="height: 100%">
    <div style="width: 100%; height: 100%;">
        <div style="margin-top: 5px; width: 60%; height: 100%; float:left;display:flex;align-items: center;">
            <div style="float: left; height: 100%">
                <h1 style="float: left; padding: 10px 10px">请输入题目信息</h1>
            </div>
            <div style="float: left; height: 100%; width: 60%;margin-top: 10px">
                <input id="title" type="text" placeholder="请输入题目"
                       style="padding: 8px 10px ;height: 100%; width: 100%; margin: 0 0 0 0; border-color: rgb(52, 152, 219);">

            </div>
        </div>
        <div style="width: 10%; padding: 10px; margin: 10px; float: right; height: 100%">
            <div style="float: left; display:flex;align-items: center;justify-content:center; ">
                <button id="btn1" type="button" onclick="dianwo()" name="goto" style="border-radius: 5px;font-size: 1.4rem;color: #fff;background-color: #dd514c;border-color: #dd514c;display: inline-block;margin-bottom: 0;
            padding: .5em 1em;font-weight: 400;line-height: 1.2;text-align: center;white-space: nowrap;border: 1px solid transparent;cursor: pointer;outline: 0;
            transition: background-color 300ms ease-out,border-color 300ms ease-out;vertical-align: middle;text-transform: none;overflow: visible;font-family: inherit;">
                    提交
                </button>

            </div>
        </div>

    <div id="question-editor" style="width: 80%;min-height: 500px">
    <textarea id="question" style="display:none;">##题目
#### 使用KaTex编写题目
[KaTex怎么写?](https://katex.org/docs/api.html)</textarea>
    </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var timu = editormd("question-editor", {
                {#height: 10%,#}
                path: "{% static 'luogu/makeNews/lib/' %}",
                codeFold: true,
                saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
                searchReplace: true,
                htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                toolbar: false,             //关闭工具栏
                emoji: true,
                taskList: true,
                tocm: true,         // Using [TOCM]
                tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart: true,             // 开启流程图支持，默认关闭
                sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "./php/upload.php",
                onload: function () {
                    console.log('onload', this);
                }
            });

        $(function () {
            $("#btn1").click(function () {
                $.ajaxSetup({
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    }
                })
                $.ajax({
                    url: "/blog/md",
                    type: "post",
                    traditional: true,
                    data: {
                        "content": timu.getMarkdown(),
                        "title": $("#title").val(),
                    },
                    success: function (res) {
                        if (res['result'] == false) {
                            alert("请补充完整标题、内容");
                        } else {
                            alert("提交成功");
                            window.location = "/blog";
                        }
                    }
                })
            })
        });

    </script>
{% endblock %}
