<!DOCTYPE HTML>
<html>
<head>
<title>Sign Up Password Form Widget  Responsive Widget Template</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<body style="background: url('/static/image/3.jpg') no-repeat center center fixed;height: auto">
<div style="background-color:#fff;">
    <div style="margin-left: 60px;height: 4em;background: #fff !important;padding-left: 1em;padding-right: 1em;position: relative;font-size: 16px;
            line-height: 1.5;color: rgba(0, 0, 0, .85);box-sizing: border-box;display: block;font-weight: 400;">
            <div style="float: left;background: linear-gradient(90deg, rgb(35, 37, 38), rgb(65, 67, 69)); filter: blur(0px) brightness(100%);">
                <img src="/static/image/2.png" style="width: auto;height: 4em;">
            </div>
            <div style="display: flex;flex-direction: row;align-items: center;padding-left: 1em;padding-right: 1em;
                height: 100%;color: #333;max-width: 1200px;margin-left: auto;margin-right: auto;ont-size: 16px;line-height: 1.5;">
                <div style="display: block;color: #333;font-size: 16px;line-height: 1.5;">
                    <img>
                </div>
                <div style="display:table;padding-left: 48px;color: #333;height: 100%;flex: 1;padding-left: 3em;font-size: 16px;line-height: 1.5;">
                    <a href="index.html"
                       style="width: 100px;vertical-align:middle;display:table-cell;margin-right:32px;vertical-align: middle;margin-right: 2em;text-decoration: none;color: #3498db;font-size: 16px;line-height: 1.5;">
                        <span style="color: rgb(38, 38, 38);">洛谷网校</span>
                    </a>
                    <a href="index.html"
                       style="vertical-align:middle;display:table-cell;margin-right:32px;vertical-align: middle;margin-right: 2em;text-decoration: none;color: #3498db;font-size: 16px;line-height: 1.5;">
                        <span style="color: rgb(38, 38, 38);">洛谷有题</span>
                    </a>
                </div>
                <nav style="position: relative;color: #333;font-size: 16px;line-height: 1.5;font-weight: 400;">
                    <a href="/login"
                       style="text-decoration: none;color: inherit;background-color: transparent;font-size: 16px;line-height: 1.5;">
                        <span style="font-size: .8em;margin-left: .5em;color: inherit;">登录</span>
                    </a>
                    <a href="/register"
                       style="text-decoration: none;color: inherit;background-color: transparent;font-size: 16px;line-height: 1.5;">
                        <span style="font-size: .8em;margin-left: .5em;color: inherit;">注册</span>
                    </a>
                    <img src="/static/image/1.jpg" style="margin-left: .4em;vertical-align: middle;width: 35px;height: 35px;
                            border-radius: 50%;border-style: none;box-sizing: border-box;border: 0;color: #333;font-size: 16px;line-height: 1.5;">
                </nav>
            </div>
        </div>
</div>
	<!-- login -->
		<div class="login-section w3l" style="margin-top: 10%">
		<div class="sig-top agileits">
			<div style="float: left; margin-top: 10%; margin-right: 13%">
				<h1>Begin to move</h1>
			</div>
            <div class="signup" style="float: left;">
                    <div class="modal-content modal-info">
                        <div class="modal-header">
                            <h3>FORGOT PASSWORD ?</h3>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="modal-body modal-spa">
                            <div class="login-form">
                                <form action="#" method="post" id="signup">
                                    <ol>
                                        <li>
                                            <input type="email" id="email" name="email" placeholder="Enter your email" title="Please enter a valid email" required="">
                                            <p class="validation01">
                                                <span class="invalid">Please enter a valid email address e.g. ryan@example.com</span>
                                                <span class="valid">Thank you for entering a valid email</span>
                                            </p>
                                        </li>
                                    </ol>
                                        <input type="submit" value="SEND">
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
		</div>
			</div>

</body>
</html>