{% extends "base.html" %}

{% block main %}

        <main>
            <div style="margin-bottom: 32px;">
                <div style="margin: 20px 51.729px 0px">

                    {% for q in questions %}
                    <div style="display: block;box-sizing: border-box;overflow: hidden;">
                        <div style="padding: 0px 10px;overflow: hidden;">
                            <div style="margin: 0px 0px 15px;padding: 16px;background-color: rgba(255,255,255,.7);overflow: hidden;">
                                <div style="margin: 0px 10px;overflow: hidden;">
                                    你是傻逼
<!--                                        <div>-->
<!--                                            我是傻逼-->
<!--                                        </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </main>
{% endblock %}