<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="./css/common.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
</head>

<body style="background-color: gray">
<!--<div style="width: fit-content;height: 4px;"></div>-->

<!--左导航-->
<nav class="bk-sidebar slide-close" style="position: absolute;width: 60px">
    <div class="slide-switch">
        <i class="icon bk-icon icon-dedent f14"></i>
    </div>
    <div class="nav-list">
        <ul>
            <li class="pureLink open">
                <a href="index.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-home"></i>
                      </span>
                    <span class="nav-name">首页</span>
                </a>
            </li>
            <li class="pureLink">
                <a href="detail.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-list"></i>
                      </span>
                    <span class="nav-name">详情</span>
                </a>
            </li>
            <li class="pureLink">
                <a href="tab.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-line-chart"></i>
                      </span>
                    <span class="nav-name">统计</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                      <span class="icon-box">
                        <i class="bk-icon icon-plus-square"></i>
                      </span>
                    <span class="nav-name">一级菜单</span>
                </a>
                <div class="flex-subnavs">
                    <a href="javascript:;"><i></i>二级菜单</a>
                    <a href="javascript:;"><i></i>二级菜单</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!--<div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 60px);margin: 0px 0px 0px 60px">-->
<div class="bk-layout bk-layout-has-sidebar"
     style="background-color: rgb(239, 239, 239);margin: 0px 0px 0px 60px; float: left">
    <div>
        <!--上导航-->
        <div class="bk-horz-nav bk-horz-nav-min">
            <div class="bk-nav-logo fl">
                <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/logo.png">
            </div>
            <div class="bk-nav-user fr">
                <span class="mr5">admin</span>
                <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/avatar.png">
            </div>
            <ul class="bk-nav-links fr">
                <li class="bk-has-submenu">
                    <a href="javascript:;">帮助</a>
                    <ul class="bk-submenu">
                        <li>
                            <a href="javascript:;">文档1</a>
                        </li>
                        <li>
                            <a href="javascript:;">文档2</a>
                        </li>
                        <li>
                            <a href="javascript:;">文档3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--主体-->
        <main>
            <div style="margin-bottom: 32px">
                <div style="margin: 20px 51.729px 0px">
                    <div style="display: block;box-sizing: border-box;overflow: hidden;">
                        <div style="padding: 0px 10px;overflow: hidden;">
                            <div style="margin: 0px 0px 15px;padding: 16px;background-color: rgba(255,255,255,.7);overflow: hidden;">
                                <div style="margin: 0px 10px;;overflow: hidden;">
                                    <div class="king-container clearfix"
                                         style="width: 66.66666667%;padding: 0px 10px;float: left">
                                        <div id="demo1" data-ride="carousel" class="carousel slide ">
                                            <!-- 图片底部的切换按钮 -->
                                            <!--必须有data-target="#demo1"，否则控制无效-->
                                            <ol class="carousel-indicators">
                                                <li data-target="#demo1" class="active" data-slide-to="0"></li>
                                                <li data-target="#demo1" data-slide-to="1" class=""></li>
                                                <li data-target="#demo1" data-slide-to="2" class=""></li>
                                                <li data-target="#demo1" data-slide-to="3" class=""></li>
                                            </ol>
                                            <!-- 图片列表,如需添加文字说明，在item里加上carousel-caption就可以 -->
                                            <div class="carousel-inner" role="listbox">
                                                <!-- 必须有一个item加上active-->
                                                <div class="item active">
                                                    <img alt="" src="images/demo1.jpg">
                                                    <div class="carousel-caption">
                                                        <h3>文字一</h3>
                                                        <p>文字二</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img alt="" src="images/demo1.jpg">
                                                    <div class="carousel-caption">
                                                        <h3>文字er</h3>
                                                        <p>文字二</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img alt="" src="images/demo1.jpg">
                                                    <div class="carousel-caption">
                                                        <h3>文字er</h3>
                                                        <p>文字三</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img alt="" src="images/demo1.jpg">
                                                    <div class="carousel-caption">
                                                        <h3>文字er</h3>
                                                        <p>文字四</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--左右的切换按钮-->
                                            <!--必须有data-target="#demo1"，否则控制无效-->
                                            <a class="left carousel-control" href="#demo1" role="button"
                                               data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">上一张</span>
                                            </a>
                                            <a class="right carousel-control" href="#demo1" role="button"
                                               data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">下一张</span>
                                            </a>
                                        </div>
                                        <!-- 设置面板样式一Start -->
                                        <!-- 设置面板样式一End -->
                                    </div>
                                    <div style="width: 33.333333333%;padding: 0px 10px;float: left">
                                        <img alt="" src="images/demo4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 0px 10px">
                        <div style="margin: 15px 0px;padding: 16px">
                            <div style="margin: 0px 10px;">
                                <div style="padding: 0px 10px">
                                    <div style="margin: 0px 0px 20px;">
                                        <div class="king-page-box" style="height: 50%;overflow:hidden">
                                            <div class="king-container clearfix">
                                                <form class="form-horizontal"></form>
                                                <div class="container-fluid mb0 ">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group clearfix ">
                                                                <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"
                                                                           class="form-control bk-valign-top"
                                                                           id="" placeholder="提示信息">
                                                                </div>
                                                            </div>
                                                            <div class="form-group clearfix">
                                                                <div class="col-sm-9 col-sm-offset-3">
                                                                    <button type="button"
                                                                            class="king-btn mr10  king-success">
                                                                        提交
                                                                    </button>
                                                                    <button type="button"
                                                                            class="king-btn king-default ">
                                                                        取消
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" mb20">
                        <div class="bk-panel-body p25">
                            <form class="bk-form">
                                <div class="row">

                                    <div class="col-md-4 col-lg-4 col-xs-4">
                                        <div class="bk-form-item mb20">
                                            <label class="bk-label pr15" style="width:80px;">套餐类型</label>
                                            <div class="bk-form-content" style="margin-left:80px;">
                                                <select name="" id="" class="bk-form-select" style="width:100%;"
                                                        placeholder="请选择">
                                                    <option value="">请选择</option>
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="bk-form-item mb20">
                                            <label class="bk-label pr15" style="width:80px;">业务名称</label>
                                            <div class="bk-form-content" style="margin-left:80px;">
                                                <select name="" id="" class="bk-form-select" style="width:100%;"
                                                        placeholder="请选择">
                                                    <option value="">请选择</option>
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="bk-form-item">
                                            <label class="bk-label pr15" style="width:80px;">时间</label>
                                            <div class="bk-form-content" style="margin-left:80px;">
                                                <select name="" id="" class="bk-form-select" style="width:100%;"
                                                        placeholder="请选择">
                                                    <option value="">请选择</option>
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-xs-4">
                                        <div class="bk-form-item mb20">
                                            <label class="bk-label pr15" style="width:80px;">时间段</label>
                                            <div class="bk-form-content" style="margin-left:80px;">
                                                <input type="text" class="bk-form-input" placeholder="请输入关键字"
                                                       style="width:100%;">
                                            </div>
                                        </div>
                                        <div class="bk-form-item mb20">
                                            <label class="bk-label pr15" style="width:80px;">告警源头</label>
                                            <div class="bk-form-content" style="margin-left:80px;">
                                                <select name="" id="" class="bk-form-select" style="width:100%;"
                                                        placeholder="请选择">
                                                    <option value="">请选择</option>
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-xs-4">
                                        <div class="bk-form-item mb20">
                                            <label class="bk-label pr15" style="width:80px;">日期</label>
                                            <div class="bk-form-content" style="margin-left:80px;">
                                                <input type="text" class="bk-form-input" placeholder="请输入关键字"
                                                       style="width:100%;">
                                            </div>
                                        </div>
                                        <div class="bk-form-item mb20">
                                            <label class="bk-label pr15" style="width:80px;">城市</label>
                                            <div class="bk-form-content" style="margin-left:80px;">
                                                <select name="" id="" class="bk-form-select" style="width:100%;"
                                                        placeholder="请选择">
                                                    <option value="">请选择</option>
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="bk-form-item">
                                            <label class="bk-label pr15" style="width:80px;"></label>
                                            <div class="bk-form-content tr">
                                                <button class="bk-button bk-success">查询</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="bk-panel">
                        <div class="bk-panel-header p25" role="tab">
                            <div class="panel-title">成功率</div>
                        </div>
                        <div class="bk-panel-body p25">
                            <div id="chart_box" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
<script src="./js/common.js"></script>
<script src="./js/index.js"></script>

<script>
    $('.carousel').carousel()
</script>
</body>

</html>