<!DOCTYPE HTML>
<html>
<head>
<title>Sign Up Password Form Widget  Responsive Widget Template</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="" />
<script src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<body style="background: url('/static/image/3.jpg') no-repeat center center fixed;height: auto">
	<!-- login -->
		<div class="login-section w3l" style="margin-top: 15%">
		<div class="sig-top agileits">
			<div style="float: left; margin-top: 10%; margin-right: 10%">
				<h1>Begin to move</h1>
			</div>
	        <div class="login" style="float: left;">
				<div class="modal-content modal-info">
					<div class="modal-header">
							<h2>SIGN IN</h2>	
							
					</div>
					<div class="modal-body modal-spa">
						<div class="login-form">			
							<form action="#" method="post">
								<input type="text" class="user" name="username" placeholder="User name" required="" />
								<input type="password" class="lock" name="password" placeholder="Password" required="" />
								<div class="signin-rit">
									
									<a class="forgot" href="#">Forgot Password?</a>
								<div class="clear"> </div>
								</div>
								<input type="submit" value="SIGN IN">
							</form>	
						</div>								
					</div>
				</div>
			<!-- //login -->
					<div class="clear"></div>
				</div> 

		</div>
			</div>
			
</body>
</html>