{% extends "makeTest.html" %}
{% block css %}
    <style type="text/css">
        body {
            margin: 0px;
        }

        .zhezhao {
            position: fixed;
            left: 0px;
            top: 0px;
            background: #000;
            width: 100%;
            height: 100%;
            opacity: 1;
        }

        .tankuang {
            position: relative;
            background: #fff;
            width: 50%;
            height: 50%;
            border-radius: 5px;
            margin: 5% auto;
        }

        #header {
            height: 40px;
        }

        #header-right {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            background: red;
            color: #fff;
            right: 5px;
            top: 5px;
            text-align: center;
        }
    </style>


{% endblock %}

{% block content %}
    <div style="width: 100%; height: 100%;">
        <div style="margin-top: 5px; width: 60%; height: 100%; float:left;display:flex;align-items: center;">
            <div style="float: left; height: 100%">
                <h1 style="float: left; padding: 10px 10px">请输入题目信息</h1>
            </div>
            <div style="float: left; height: 100%; width: 60%;margin-top: 10px">
                <input id="title" type="text" placeholder="请输入题目"
                       style="padding: 8px 10px ;height: 100%; width: 100%; margin: 0 0 0 0; border-color: rgb(52, 152, 219);">

            </div>
        </div>
        <div style="margin-top: 5px;width: 20%; height: 100%; float:left;display:flex;align-items: center;">
            <div>
                <h1 style="float: left; padding: 10px 10px">选择科目</h1>
            </div>
            <div style="margin-top: 5px;">
                <select style="float: left; padding: 8px 10px ;height: 100%;  margin: 0 0 0 0; border-color: rgb(52, 152, 219);">
                    <option value="1">高等数学</option>
                    <option value="2">概率论</option>
                    <option value="3">线性代数</option>
                </select>
            </div>
        </div>
        <div style="width: 10%; padding: 10px; margin: 10px; float: right; height: 100%">
            <div style="float: left; display:flex;align-items: center;justify-content:center; ">
                <button id="btn1" type="button" onclick="dianwo()" name="goto" style="border-radius: 5px;font-size: 1.4rem;color: #fff;background-color: #dd514c;border-color: #dd514c;display: inline-block;margin-bottom: 0;
            padding: .5em 1em;font-weight: 400;line-height: 1.2;text-align: center;white-space: nowrap;border: 1px solid transparent;cursor: pointer;outline: 0;
            transition: background-color 300ms ease-out,border-color 300ms ease-out;vertical-align: middle;text-transform: none;overflow: visible;font-family: inherit;">
                    提交
                </button>
                <div class="zhezhao" id='zhezhao'>
                    <div class="tankuang">
                        <div id="header">
{#                            <div id="header-right" onclick="hidder()">x</div>#}
                            <div style="padding: 50px 0 50px 0 "><h1>选择标签</h1></div>
                            <div>
                                <div style="padding: 10px">
                                        <h3><input name="choices" value=1 style="height: 19px; width: 25px;" type="checkbox">函数与极限
                                            <input name="choices" value=2 style="height: 19px; width: 25px;" type="checkbox">导数与微分</h3>
                                </div>
                                <div style="padding: 10px">
                                        <h3><input name="choices" value=3 style="height: 19px; width: 25px;" type="checkbox">微分中值定理与导数的应用
                                            <input name="choices" value=4 style="height: 19px; width: 25px;" type="checkbox">不定积分</h3>
                                </div>
                                <div style="padding: 10px">
                                        <h3><input name="choices" value=5 style="height: 19px; width: 25px;" type="checkbox">定积分
                                            <input name="choices" value=6 style="height: 19px; width: 25px;" type="checkbox">微分方程
                                            <input name="choices" value=7 style="height: 19px; width: 25px;" type="checkbox">向量代数与空间解析几何</h3>
                                </div>
                                <div style="padding: 10px">
                                        <h3><input name="choices" value=8 style="height: 19px; width: 25px;" type="checkbox">多元函数微分法及其应用
                                            <input name="choices" value=9 style="height: 19px; width: 25px;" type="checkbox">重积分</h3>
                                </div>
                                <div style="padding: 10px">
                                        <h3>
                                            <input name="choices" value=10 style="height: 19px; width: 25px;" type="checkbox">曲线积分与曲面积分
                                            <input name="choices" value=11 style="height: 19px; width: 25px;" type="checkbox">无穷级数</h3>
                                </div>
                            </div>
                            <div>

                                <p style="margin: 16px 0px">
                                    <button onclick="hidder()" name="goto" style="border-radius: 5px;font-size: 1.4rem;color: #fff;background-color: #dd514c;border-color: #dd514c;display: inline-block;margin-bottom: 0;
                                    padding: .5em 1em;font-weight: 400;line-height: 1.2;text-align: center;white-space: nowrap;border: 1px solid transparent;cursor: pointer;outline: 0;
                                    transition: background-color 300ms ease-out,border-color 300ms ease-out;vertical-align: middle;text-transform: none;overflow: visible;font-family: inherit;">
                                        取消
                                    </button>
                                    <button id="btn2" name="gotorandom" style="border-radius: 5px;font-size: 1.4rem;color: #fff;background-color: #0c79b1;border-color: #0a6999;display: inline-block;margin-bottom: 0;
                                    padding: .5em 1em;font-weight: 400;line-height: 1.2;text-align: center;white-space: nowrap;border: 1px solid transparent;cursor: pointer;outline: 0;
                                    transition: background-color 300ms ease-out,border-color 300ms ease-out;vertical-align: middle;text-transform: none;overflow: visible;font-family: inherit;">
                                        提交
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div id="question-editor">
    <textarea id="question" ; style="display:none;">##题目
#### 使用KeTex编写题目
[KaTex怎么写?](https://katex.org/docs/api.html)</textarea>
    </div>
    <div id="answer-editor">
    <textarea id="answer" ; style="display:none;">##答案
#### 使用KeTex编写答案</textarea>
    </div>
{% endblock %}

{% block js %}
                <script type="text/javascript">
                    document.getElementById('zhezhao').style.display="none";
                    function dianwo(){
                        document.getElementById('zhezhao').style.display="";
                        document.getElementById('zhezhao').style.zIndex=51;
                        {#document.getElementById('question-editor').style.zIndex=10;#}
                        {#document.getElementById('answer-editor').style.zIndex=10;#}
                    }
                    function hidder(){
                        document.getElementById('zhezhao').style.display="none";
                        {#document.getElementById('question-editor').style.zIndex=10;#}
                        {#document.getElementById('answer-editor').style.zIndex=10;#}
                    }
                </script>
    <script type="text/javascript">
        $(function () {
            var timu = editormd("question-editor", {
                height: 250,
                path: '../static/makeNews/lib/',
                codeFold: true,
                saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
                searchReplace: true,
                htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                toolbar: false,             //关闭工具栏
                emoji: true,
                taskList: true,
                tocm: true,         // Using [TOCM]
                tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart: true,             // 开启流程图支持，默认关闭
                sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "./php/upload.php",
                onload: function () {
                    console.log('onload', this);
                }
            });
            var daan = editormd("answer-editor", {
                height: 250,
                path: '../static/makeNews/lib/',
                codeFold: true,
                saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
                searchReplace: true,
                htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                toolbar: false,             //关闭工具栏
                emoji: true,
                taskList: true,
                tocm: true,         // Using [TOCM]
                tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart: true,             // 开启流程图支持，默认关闭
                sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "./php/upload.php",
                onload: function () {
                    console.log('onload', this);
                }
            });

            $("#btn2").click(function () {
                var test_list = []
                $("[name=choices]:checked").each(function () {
                     test_list.push($(this).val())
                });
                if(test_list.length>3){
                    alert("最多只能选3个标签");
                    return
                }
                var test_str = JSON.stringify(test_list );
                console.log(test_str);
                $.ajaxSetup({
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    }
                })
                $.ajax({
                    url: "/makeNews/submit",
                    type: "post",
                    traditional: true,
                    data: {
                        "question": timu.getMarkdown(),
                        "answer": daan.getMarkdown(),
                        "title": $("#title").val(),
                        "tags": JSON.stringify(test_list),
                    },
                    success: function (res) {
                        if (res['result'] == false) {
                            alert("请补充完整标题、题目、答案");
                        } else {
                            alert("提交成功");
                            window.location = "/hub";
                        }
                    }
                })
            })
        });

    </script>
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->


<!--            -->
<!--            <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
<!--            <script src="../static/makeNews/editormd.min.js"></script>-->
<!--            <script type="text/javascript">-->
<!--                $(function () {-->
<!--                    var timu = editormd("timu-editor", {-->
<!--                        // width: "100%",-->
<!--                        height: 400,-->
<!--                        path: '../static/makeNews/lib/',-->
<!--                        theme: "dark",-->
<!--                        previewTheme: "dark",-->
<!--                        editorTheme: "pastel-on-dark",-->
<!--                        // markdown : md,-->
<!--                        codeFold: true,-->
<!--                        //syncScrolling : false,-->
<!--                        saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea-->
<!--                        searchReplace: true,-->
<!--                        //watch : false,                // 关闭实时预览-->
<!--                        htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启-->
<!--                        //toolbar  : false,             //关闭工具栏-->
<!--                        //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启-->
<!--                        emoji: true,-->
<!--                        taskList: true,-->
<!--                        tocm: true,         // Using [TOCM]-->
<!--                        tex: true,                   // 开启科学公式TeX语言支持，默认关闭-->
<!--                        flowChart: true,             // 开启流程图支持，默认关闭-->
<!--                        sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,-->
<!--                        //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true-->
<!--                        //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true-->
<!--                        //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true-->
<!--                        //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1-->
<!--                        //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff-->
<!--                        imageUpload: true,-->
<!--                        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],-->
<!--                        imageUploadURL: "./php/upload.php",-->
<!--                        onload: function () {-->
<!--                            console.log('onload', this);-->
<!--                            //this.fullscreen();-->
<!--                            //this.unwatch();-->
<!--                            //this.watch().fullscreen();-->
<!--                            //this.setMarkdown("#PHP");-->
<!--                            //this.width("100%");-->
<!--                            //this.height(480);-->
<!--                            //this.resize("100%", 640);-->
<!--                        }-->
<!--                    });-->
<!--                    var daan = editormd("daan-editor", {-->
<!--                        // width: "100%",-->
<!--                        height: 400,-->
<!--                        path: '../static/makeNews/lib/',-->
<!--                        theme: "dark",-->
<!--                        previewTheme: "dark",-->
<!--                        editorTheme: "pastel-on-dark",-->
<!--                        // markdown : md,-->
<!--                        codeFold: true,-->
<!--                        //syncScrolling : false,-->
<!--                        saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea-->
<!--                        searchReplace: true,-->
<!--                        //watch : false,                // 关闭实时预览-->
<!--                        htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启-->
<!--                        //toolbar  : false,             //关闭工具栏-->
<!--                        //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启-->
<!--                        emoji: true,-->
<!--                        taskList: true,-->
<!--                        tocm: true,         // Using [TOCM]-->
<!--                        tex: true,                   // 开启科学公式TeX语言支持，默认关闭-->
<!--                        flowChart: true,             // 开启流程图支持，默认关闭-->
<!--                        sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,-->
<!--                        //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true-->
<!--                        //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true-->
<!--                        //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true-->
<!--                        //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1-->
<!--                        //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff-->
<!--                        imageUpload: true,-->
<!--                        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],-->
<!--                        imageUploadURL: "./php/upload.php",-->
<!--                        onload: function () {-->
<!--                            console.log('onload', this);-->
<!--                            //this.fullscreen();-->
<!--                            //this.unwatch();-->
<!--                            //this.watch().fullscreen();-->
<!--                            //this.setMarkdown("#PHP");-->
<!--                            //this.width("100%");-->
<!--                            //this.height(480);-->
<!--                            //this.resize("100%", 640);-->
<!--                        }-->
<!--                    });-->

<!--                    // editor.katexURL = {-->
<!--                    //     js  : "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js",  // default:-->
<!--                    //     css : "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css"   // default:-->
<!--                    // };-->


<!--                    // testEditor.gotoLine(90);//转到第90行-->

<!--                    // testEditor.show();//显示编辑器-->

<!--                    // testEditor.hide();//隐藏编辑器-->

<!--                    // alert(testEditor.getMarkdown());//获取编辑器内容（不含html）-->

<!--                    // alert(testEditor.getHTML());//获取编辑器html内容-->

<!--                    // testEditor.watch();//开启双窗口对比-->

<!--                    // testEditor.unwatch();//取消双窗口对比-->

<!--                    // testEditor.previewing();//预览效果-->

<!--                    // editor.fullscreen();//全屏（按ESC取消）-->

<!--                    // testEditor.showToolbar();//显示工具栏-->

<!--                    // testEditor.hideToolbar();//隐藏工具栏-->

<!--                    // testEditor.config({-->
<!--                    //     tocDropdown   : true,-->
<!--                    //     tocTitle      : "目录 Table of Contents",-->
<!--                    // });//TOC下拉菜单-->

<!--                    // testEditor.config("tocDropdown", false);//TOC默认                           });-->
<!--                });-->
<!--            </script>-->

<!--        </main>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>-->
<!--<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>-->
<!--<script src="/static/js/common.js"></script>-->
<!--<script src="/static/js/index.js"></script>-->

<!--<script>-->
<!--    $('.carousel').carousel()-->
<!--</script>-->
<!--</body>-->

<!--</html>-->