{% extends "base.html" %}

{% block main %}


    <main style="display: block;background-color:rgb(239, 239, 239); padding-left: 1em; padding-right: 1em; flex: 1">
        <div style="max-width: 1200px; margin-left: auto; margin-right: auto;">
            <div style="margin-top: 1.5rem;margin-bottom: 1.3em;background-color:#fff;box-shadow: 0 1px 3px rgba(26, 26, 26, .1); box-sizing: border-box">
                <div style="background-image: url('https://cdn.luogu.org/images/bg/fe/DSCF0530-shrink.jpg'); position: relative; height: 240px;background-size: cover;background-position:center;">
                    <div>
                        <img id="headimg"
                             style="width: 64px; height: 64px; border-radius: 50%; position: absolute; bottom: 24px; left: 24px; border: 1px solid #979797"
                             src="/static/image/personalHead/{{ request.session.user_name }}.jpg"
                             alt="{{ request.session.user_name }}">
                        <input type="file" id="headimg-upload" style="display: none;" onchange="uploadimg()">
                    </div>
                    <div style="color: #fff;position:absolute;bottom: 30px;left: 96px;text-shadow: 1px 1px 3px #333">
                        <div style="font-size: 1.5em; color: #fff;text-shadow: 1px 1px 3px #333">{{ request.session.user_name }}</div>
                        <div style="font-size: 0.875em;color: #fff;text-shadow: 1px 1px 3px #333">{{ motto }}</div>
                    </div>
                    <div style="font-size: 0.875em;vertical-align: middle;position: absolute;bottom: 24px;right: 12px;color: #fff">
                        <a>个人博客</a>
                        <a>个人设置</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="max-width: 1200px; margin-left: auto; margin-right: auto;">
            <div style="margin-top: 1.5rem;margin-bottom: 1.3em;background-color:#fff;box-shadow: 0 1px 3px rgba(26, 26, 26, .1); box-sizing: border-box">
                <div style="position: relative; height: 240px;background-size: cover;background-position:center;">
                    <div style="border-top-left-radius: 3px;border-top-right-radius: 3px;padding-top: 8px!important;padding-bottom: 8px!important;border-color: #d1d5da!important;border: 1px solid #e1e4e8!important;box-sizing: border-box;">
                        <div style="display: flex!important;text-align: center!important;padding-top: 4px!important;margin-right: 16px!important;margin-left: 16px!important;height: 100%!important;overflow: hidden!important;align-items: center!important;flex-direction: column!important;">

                            <svg width="864" height="128" class="js-calendar-graph-svg">

                                <g transform="translate(10, 20)"
                                   data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:49059247,&quot;target&quot;:&quot;CONTRIBUTION_CALENDAR_SQUARE&quot;,&quot;user_id&quot;:49059247,&quot;originating_url&quot;:&quot;https://github.com/0-ng&quot;}}"
                                   data-hydro-click-hmac="afa09c21ecc21f6b9a40a11b4583f6ae846d467349e29233056b617c7d7f213f">
                                    {% for g in a %}
                                    <g transform="translate({{ g.offset }}, 0)">
                                        {% for rect in g.ls %}
                                        <rect class="day" width="12" height="12" x="16" y="{{ rect.y }}" fill="#ebedf0"
                                              data-count="{{ rect.num }}" data-date="2019-06-16"></rect>
{#                                        <rect class="day" width="12" height="12" x="16" y="15" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-17"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="16" y="30" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-18"></rect>#}
                                        {% endfor %}
                                    </g>
                                    {% endfor %}
{#                                    <g transform="translate(16, 0)">#}
{#                                        <rect class="day" width="12" height="12" x="15" y="0" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-23"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="15" y="15" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-24"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="15" y="30" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-25"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="15" y="45" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-26"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="15" y="60" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-27"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="15" y="75" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-28"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="15" y="90" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-29"></rect>#}
{#                                    </g>#}
{#                                    <g transform="translate(32, 0)">#}
{#                                        <rect class="day" width="12" height="12" x="14" y="0" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-06-30"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="14" y="15" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-07-01"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="14" y="30" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-07-02"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="14" y="45" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-07-03"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="14" y="60" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-07-04"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="14" y="75" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-07-05"></rect>#}
{#                                        <rect class="day" width="12" height="12" x="14" y="90" fill="#ebedf0"#}
{#                                              data-count="0" data-date="2019-07-06"></rect>#}
{#                                    </g>#}
                                    </text>
                                </g>
                            </svg>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </main>


{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#headimg').click(function () {
                $('#headimg-upload').click();
            })
        });

        function uploadimg() {
            var img_file = $('#headimg-upload')[0].files[0];
            var reader_file = new FileReader();
            reader_file.readAsDataURL(img_file);
            reader_file.onload = function (ev) {
                $('#headimg-show').attr('src', ev.target.result);
                var formdata = new FormData();
                formdata.append('img_name', img_file.name);
                formdata.append('img_file', img_file);
                formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                $.ajax({
                    url: "/user/{{ request.session.user_name }}",
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (data, status) {
                        window.location.reload(true);
                    }
                });
            }
        }
    </script>

{% endblock %}