{% extends "base.html" %}

{% block main %}


<main>
    <div style="margin-bottom: 32px;">
        <div style="margin: 20px 51.729px 0px; background-image: url('https://cdn.luogu.org/images/bg/fe/DSCF0530-shrink.jpg');">
            <div style="display: block;box-sizing: border-box;overflow: hidden;">
                <div style="padding: 0px 10px;overflow: hidden;">
                    <div style="margin: 0px 0px 15px;padding: 16px;overflow: hidden;">
                        <div style="margin: 0px 10px;overflow: hidden;">
                            <div class="king-container clearfix"
                                 style="width: 66.66666667%;padding: 0px 10px;float: left">
                                <div id="demo1" data-ride="carousel" class="carousel slide ">
                                    用户名
                                </div>
                            </div>
                            <div style="width: 33.333333333%;padding: 0px 10px;float: left">
                                <img alt="" src="/static/image/demo4.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}