<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <link href="./css/common.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
    <link href="./css/tab.css" rel="stylesheet">
</head>

<body>

    <nav class="bk-horz-nav bk-horz-nav-min">
        <div class="bk-nav-logo fl">
            <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/logo.png">
        </div>
        <div class="bk-nav-user fr">
            <span class="mr5">admin</span>
            <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/avatar.png">
        </div>
        <ul class="bk-nav-links fr">
            <li class="bk-has-submenu">
                <a href="javascript:;">帮助</a>
                <ul class="bk-submenu">
                    <li>
                        <a href="javascript:;">文档1</a>
                    </li>
                    <li>
                        <a href="javascript:;">文档2</a>
                    </li>
                    <li>
                        <a href="javascript:;">文档3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 60px)">
        <div class="bk-sidebar slide-close">
            <div class="slide-switch">
                <i class="icon bk-icon icon-dedent f14"></i>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="pureLink">
                        <a href="index.html">
						<span class="icon-box">
							<i class="bk-icon icon-home"></i>
						</span>
						<span class="nav-name">首页</span>
					</a>
                    </li>
                    <li class="pureLink">
                        <a href="detail.html">
						<span class="icon-box">
							<i class="bk-icon icon-list"></i>
						</span>
						<span class="nav-name">详情</span>
					</a>
                    </li>
                    <li class="pureLink open">
                        <a href="tab.html">
						<span class="icon-box">
							<i class="bk-icon icon-line-chart"></i>
						</span>
						<span class="nav-name">统计</span>
					</a>
                    </li>
                    <li>
                        <a href="javascript:;">
						<span class="icon-box">
							 <i class="bk-icon icon-plus-square"></i>
						</span>
						<span class="nav-name">一级菜单</span>
					</a>
                        <div class="flex-subnavs">
                            <a href="javascript:;"><i></i>二级菜单</a>
                            <a href="javascript:;"><i></i>二级菜单</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2012-2017 蓝鲸智云.</p>
                <span>All Rights Reserved.</span>
            </div>
        </div>
        <div class="page-content">
            <div class="bk-panel contain-box bk-text-pingfang pb20">
                <div class="contain ml0">
                    <div class="contain-content">
                        <div class="title">
                            <span class="icon-name">
							<i class="bk-icon icon-plus"></i>
						</span>
                            <span class="text f12">标题1 <p>2017-3-30</p></span>
                        </div>
                        <div class="data">
                            <span class="cur-data f34">25</span>/<span class="total-data">30</span>
                        </div>
                    </div>
                </div>
                <div class="contain">
                    <div class="contain-content">
                        <div class="title">
                            <span class="icon-name">
							<i class="bk-icon icon-exclamation-triangle"></i>
						</span>
                            <span class="text f12">标题2 <p>2017-3-30</p></span>
                        </div>
                        <div class="data">
                            <span class="cur-data f34">245</span>
                        </div>
                    </div>
                </div>
                <div class="contain">
                    <div class="contain-content">
                        <div class="title">
                            <span class="icon-name">
							<i class="bk-icon icon-minus-circle"></i>
						</span>
                            <span class="text f12">标题3 <p>2017-3-30</p></span>
                        </div>
                        <div class="data">
                            <span class="cur-data f36">68</span>
                        </div>
                    </div>
                </div>
                <div class="contain mr0">
                    <div class="contain-content">
                        <div class="title">
                            <span class="icon-name">
							<i class="bk-icon icon-eye"></i>
						</span>
                            <span class="text f12">标题4 <p>2017-3-30</p></span>
                        </div>
                        <div class="data">
                            <span class="cur-data f34">89.8</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bk-tab" id="bk-tab">
                <div class="bk-tab-head">
                    <ul class="bk-tab-nav">
                        <li class="tab-nav-item active">导航1</li>
                        <li class="tab-nav-item">导航2</li>
                        <li class="tab-nav-item">导航3</li>
                    </ul>
                    <div class="bk-tab-act">
                        <input type="text" class="bk-form-input" placeholder="请输入...">
                    </div>
                </div>
                <div class="bk-tab-content p15">
                    <div class="bk-tab-pane active">
                        <div id="chart_box" style="height:400px;"></div>
                    </div>
                    <div class="bk-tab-pane">
                        <div class="bk-message-box">
                            <p class="message empty-message">暂时没有数据</p>
                        </div>
                    </div>
                    <div class="bk-tab-pane">
                        <div class="bk-message-box">
                            <p class="message empty-message">暂时没有数据</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/tab.js"></script>
</body>

</html>