<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
</head>

<body style="background-color: gray;font-weight: 400;">
<nav style="background-color: rgb(52,73,94);color: rgb(221,221,221);position: fixed;
    width: 3.7em;height: 100%;display: flex;flex-direction: column;text-align: center;
    line-height: 1.2;z-index: 5;font-size: 16px;">
    <div style="background-color:rgb(52,152,219);box-sizing: border-box;display: block;color: rgb(221, 221, 221);">
        <a style="display: block;box-sizing: border-box;padding: 1em;width: 3.7em;text-align: center;height: 4em;
            overflow: hidden;outline: 0;color: #3498db;text-decoration: none;background-color: transparent;">
            <img src="static/image/1586873754(1).jpg" style="max-width: 100%;
    max-height: 100%;border-style: none;vertical-align: middle;border: 0;text-align: center;color: #3498db;">
        </a>
    </div>
    <div style="font-size: 0.8em;line-height: 2em;margin-top: 0.2em;
        cursor: pointer;box-sizing: border-box;display: block;color: rgb(221, 221, 221);">
        应用
        <svg style="overflow: visible;width: 0.875em;display: inline-block;
    font-size: inherit;
    height: 1em;vertical-align: -0.125em;box-sizing: border-box;line-height: 2em;cursor: pointer;color: rgb(221, 221, 221);">
        </svg>
    </div>
    <a style="color: inherit;text-decoration: none;display: block;padding: .5em .5em;background-color: transparent;box-sizing: border-box;cursor: pointer;">
        <span style="text-align: center;margin: 0 .3em;font-size: 1.1em;display: inline-block;width: 1.5em;
            vertical-align: middle;box-sizing: border-box;color: inherit;cursor: pointer;">
<!--            <svg style="overflow: visible;width: 0.875em;display: inline-block;font-size: inherit;-->
            <!--                height: 1em;vertical-align: -0.125em;box-sizing: border-box;text-align: center;color: inherit;">-->
            <!--                <path data-v-cd9b963e="" data-v-445f91a0="" fill="currentColor" d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z" class="">-->

            <!--                </path>-->
            </svg>
        </span>
        <span>题库</span>
    </a>
    <a style="color: inherit;text-decoration: none;display: block;padding: .5em .5em;background-color: transparent;box-sizing: border-box;cursor: pointer;">
        <span style="text-align: center;margin: 0 .3em;font-size: 1.1em;display: inline-block;width: 1.5em;
            vertical-align: middle;box-sizing: border-box;color: inherit;cursor: pointer;">
<!--            <svg style="overflow: visible;width: 0.875em;display: inline-block;font-size: inherit;-->
            <!--                height: 1em;vertical-align: -0.125em;box-sizing: border-box;text-align: center;color: inherit;">-->
            <!--                <path data-v-cd9b963e="" data-v-445f91a0="" fill="currentColor" d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z" class="">-->

            <!--                </path>-->
            <!--            </svg>-->
        </span>
        <span>题库</span>
    </a>
    <a style="color: inherit;text-decoration: none;display: block;padding: .5em .5em;background-color: transparent;box-sizing: border-box;cursor: pointer;">
        <span style="text-align: center;margin: 0 .3em;font-size: 1.1em;display: inline-block;width: 1.5em;
            vertical-align: middle;box-sizing: border-box;color: inherit;cursor: pointer;">
<!--            <svg style="overflow: visible;width: 0.875em;display: inline-block;font-size: inherit;-->
            <!--                height: 1em;vertical-align: -0.125em;box-sizing: border-box;text-align: center;color: inherit;">-->
            <!--                <path data-v-cd9b963e="" data-v-445f91a0="" fill="currentColor" d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z" class="">-->

            <!--                </path>-->
            <!--            </svg>-->
        </span>
        <span>题库</span>
    </a>
    <a style="color: inherit;text-decoration: none;display: block;padding: .5em .5em;background-color: transparent;box-sizing: border-box;cursor: pointer;">
        <span style="text-align: center;margin: 0 .3em;font-size: 1.1em;display: inline-block;width: 1.5em;
            vertical-align: middle;box-sizing: border-box;color: inherit;cursor: pointer;">
<!--            <svg style="overflow: visible;width: 0.875em;display: inline-block;font-size: inherit;-->
            <!--                height: 1em;vertical-align: -0.125em;box-sizing: border-box;text-align: center;color: inherit;">-->
            <!--                <path data-v-cd9b963e="" data-v-445f91a0="" fill="currentColor" d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z" class="">-->

            <!--                </path>-->
            <!--            </svg>-->
        </span>
        <span>题库</span>
    </a>
</nav>
<!--<div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 60px);margin: 0px 0px 0px 60px">-->
<div class="bk-layout bk-layout-has-sidebar"
     style="background-color: rgb(239, 239, 239);margin: 0px 0px 0px 60px; float: left;">
    <div>
        <!--上导航-->
        <div style="height: 4em;background: #fff !important;padding-left: 1em;padding-right: 1em;position: relative;font-size: 16px;
            line-height: 1.5;color: rgba(0, 0, 0, .85);box-sizing: border-box;display: block;font-weight: 400;">
            <div style="float: left;background: linear-gradient(90deg, rgb(35, 37, 38), rgb(65, 67, 69)); filter: blur(0px) brightness(100%);">
                <img src="/static/image/2.png" style="width: auto;height: 4em;">
            </div>
            <div style="display: flex;flex-direction: row;align-items: center;padding-left: 1em;padding-right: 1em;
                height: 100%;color: #333;max-width: 1200px;margin-left: auto;margin-right: auto;ont-size: 16px;line-height: 1.5;">
                <div style="display: block;color: #333;font-size: 16px;line-height: 1.5;">
                    <img>
                </div>
                <div style="display:table;padding-left: 48px;color: #333;height: 100%;flex: 1;padding-left: 3em;font-size: 16px;line-height: 1.5;">
                    <a href="index.html"
                       style="width: 100px;vertical-align:middle;display:table-cell;margin-right:32px;vertical-align: middle;margin-right: 2em;text-decoration: none;color: #3498db;font-size: 16px;line-height: 1.5;">
                        <span style="color: rgb(38, 38, 38);">洛谷网校</span>
                    </a>
                    <a href="index.html"
                       style="vertical-align:middle;display:table-cell;margin-right:32px;vertical-align: middle;margin-right: 2em;text-decoration: none;color: #3498db;font-size: 16px;line-height: 1.5;">
                        <span style="color: rgb(38, 38, 38);">洛谷有题</span>
                    </a>
                </div>
                <nav style="position: relative;color: #333;font-size: 16px;line-height: 1.5;font-weight: 400;">
                    <a href="/login"
                       style="text-decoration: none;color: inherit;background-color: transparent;font-size: 16px;line-height: 1.5;">
                        <span style="font-size: .8em;margin-left: .5em;color: inherit;">登录</span>
                    </a>
                    <a href="/register"
                       style="text-decoration: none;color: inherit;background-color: transparent;font-size: 16px;line-height: 1.5;">
                        <span style="font-size: .8em;margin-left: .5em;color: inherit;">注册</span>
                    </a>
                    <img src="/static/image/1.jpg" style="margin-left: .4em;vertical-align: middle;width: 35px;height: 35px;
                            border-radius: 50%;border-style: none;box-sizing: border-box;border: 0;color: #333;font-size: 16px;line-height: 1.5;">
                </nav>
            </div>
        </div>

        <!--主体-->
        <main>
            <div style="margin-bottom: 32px">
                <div style="margin: 20px 51.729px 0px">
                    <div style="display: block;box-sizing: border-box;overflow: hidden;">
                        <div style="padding: 0px 10px;overflow: hidden;">
                            <div style="margin: 0px 0px 15px;padding: 16px;background-color: rgba(255,255,255,.7);overflow: hidden;">
                                <div style="margin: 0px 10px;overflow: hidden;">
                                    <div class="king-container clearfix"
                                         style="width: 66.66666667%;padding: 0px 10px;float: left">
                                        <div id="demo1" data-ride="carousel" class="carousel slide ">
                                            <!-- 图片底部的切换按钮 -->
                                            <!--必须有data-target="#demo1"，否则控制无效-->
                                            <ol class="carousel-indicators">
                                                <li data-target="#demo1" class="active" data-slide-to="0"></li>
                                                <li data-target="#demo1" data-slide-to="1" class=""></li>
                                                <li data-target="#demo1" data-slide-to="2" class=""></li>
                                                <li data-target="#demo1" data-slide-to="3" class=""></li>
                                            </ol>
                                            <!-- 图片列表,如需添加文字说明，在item里加上carousel-caption就可以 -->
                                            <div class="carousel-inner" role="listbox">
                                                <!-- 必须有一个item加上active-->
                                                <div class="item active">
                                                    <img alt="" src="/static/image/demo1.jpg">
                                                    <div class="carousel-caption">
                                                        <h3>文字一</h3>
                                                        <p>文字二</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img alt="" src="/static/image/demo1.jpg">
                                                    <div class="carousel-caption">
                                                        <h3>文字er</h3>
                                                        <p>文字二</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img alt="" src="/static/image/demo1.jpg">
                                                    <div class="carousel-caption">
                                                        <h3>文字er</h3>
                                                        <p>文字三</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img alt="" src="/static/image/demo1.jpg">
                                                    <div class="carousel-caption">
                                                        <h3>文字er</h3>
                                                        <p>文字四</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--左右的切换按钮-->
                                            <!--必须有data-target="#demo1"，否则控制无效-->
                                            <a class="left carousel-control" href="#demo1" role="button"
                                               data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">上一张</span>
                                            </a>
                                            <a class="right carousel-control" href="#demo1" role="button"
                                               data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">下一张</span>
                                            </a>
                                        </div>
                                        <!-- 设置面板样式一Start -->
                                        <!-- 设置面板样式一End -->
                                    </div>
                                    <div style="width: 33.333333333%;padding: 0px 10px;float: left">
                                        <img alt="" src="/static/image/demo4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: block;box-sizing: border-box;overflow: hidden;">
                        <div style="padding: 0px 10px;width: 25%;overflow: hidden;float: left;">
                            <div style="margin: 0px 0px 15px;padding: 13px;background-color: rgba(255,255,255,.7);overflow: hidden;">
                                <span style="font-size: 1.25em;margin: 0 0 1.6rem;font-weight: 600;box-sizing: border-box;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;
                                    margin-inline-start: 0px;margin-inline-end: 0px;line-height: 1.5;color: rgba(0, 0, 0, .85);text-rendering: optimizeLegibility;">问题跳转</span>
                                <div style="position: relative;display: table;border-collapse: separate;box-sizing: border-box;font-size: 16px;
                                        line-height: 1.5;color: rgba(0, 0, 0, .85);font-weight: 400;box-sizing: border-box;">
                                    <input placeholder="例：P1001，可跳至A+B" style="border-color: #0e90d2;vertical-align: middle;height: 33px;font-size: 1.4rem!important;display: table-cell;border-bottom-left-radius: 0;
                                        border-top-left-radius: 0;border-bottom-right-radius: 0;border-top-right-radius: 0;vertical-align: middle;height: 33px;font-size: 1.4rem!important; display: table-cell;position: relative;
                                        z-index: 2;float: left;width: 100%;margin-bottom: 0; line-height: 1.2;color: #555; padding: .5em; background-color: #fff;background-image: none;border: 1px solid #ccc;
                                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;    overflow: visible;    font-family: inherit;    margin: 0;box-sizing: border-box;letter-spacing: normal;
                                        word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;text-align: start;cursor: text;border-collapse: separate;">
                                </div>
                                <p style="margin: 16px 0px">
                                    <button name="goto" style="border-radius: 5px;font-size: 1.4rem;color: #fff;background-color: #dd514c;border-color: #dd514c;display: inline-block;margin-bottom: 0;
                                    padding: .5em 1em;font-weight: 400;line-height: 1.2;text-align: center;white-space: nowrap;border: 1px solid transparent;cursor: pointer;outline: 0;
                                    transition: background-color 300ms ease-out,border-color 300ms ease-out;vertical-align: middle;text-transform: none;overflow: visible;font-family: inherit;">
                                        跳转
                                    </button>
                                    <button name="gotorandom" style="border-radius: 5px;font-size: 1.4rem;color: #fff;background-color: #0c79b1;border-color: #0a6999;display: inline-block;margin-bottom: 0;
                                    padding: .5em 1em;font-weight: 400;line-height: 1.2;text-align: center;white-space: nowrap;border: 1px solid transparent;cursor: pointer;outline: 0;
                                    transition: background-color 300ms ease-out,border-color 300ms ease-out;vertical-align: middle;text-transform: none;overflow: visible;font-family: inherit;">
                                        随机跳题
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div style="width: 75%;padding: 0px 10px;float: left;">
                            <div style="margin-bottom: 15px;background-color: rgba(255,255,255,.7);">
                                <div style="padding: 15px;margin: 0px 10px;overflow: hidden;">
                                    <div style="width: 33.333333333%;padding: 0px 10px;float: left;">
                                        <img src="/static/image/demo1_1.jpg">
                                    </div>
                                    <div style="width: 33.333333333%;padding: 0px 10px;float: left;">
                                        <img src="/static/image/demo1_2.jpg">
                                    </div>
                                    <div style="width: 33.333333333%;padding: 0px 10px;float: left;">
                                        <img src="/static/image/demo1_3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="bk-panel">
                        <div class="bk-panel-header p25" role="tab">
                            <div class="panel-title">成功率</div>
                        </div>
                        <div class="bk-panel-body p25">
                            <div id="chart_box" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/index.js"></script>

<script>
    $('.carousel').carousel()
</script>
</body>

</html>