<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <style type="text/css">
        /*#wrap{*/
        /*    padding-left: 200px;*/
        /*}*/
        /*.leftpart{*/
        /*    float:left;*/
        /*    width:200px;*/
        /*    margin-left:-200px;*/
        /*    height: 200px;*/
        /*    background-color:lightgreen;*/
        /*}*/
        .rightpart{
            /*float: right;*/

            /*height: 200px;*/

        }
    </style>
</head>
<body>
<div id="wrap" style="width: 100%;background-color: lightseagreen;">
    as
<!--    <div class="rightpart">宽度自适应部分</div>-->
<!--    <div class="leftpa.rt">width200的左边栏</div>-->
</div>
</body>
</html>