{% extends "luogu/base.html" %}

{% block main %}
    <div style="background-color: rgba(0, 0, 0, .75); height: 15%">
        <div style="height: 10%"></div>
        <div style="margin-left: 20px"><h3 style="color: white">题目列表</h3></div>
    </div>
    <main>
        <div style="margin-bottom: 32px;">
            <div style="margin: 20px 51.729px 0px">

                <div style="display: block;box-sizing: border-box;overflow: hidden;">
                    <div style="padding: 0px 10px;overflow: hidden;">
                        <div style="margin: 0px 0px 15px;padding: 16px;background-color: rgba(255,255,255,.7);overflow: hidden;">

                            <div style="width: 100%; height: 100%">
                                <div style="margin: 20px 20px 20px 20px; height: 40px">
                                    <div style="float: left">
                                        <h2 style="margin: 0 10px 0 0">查找题目</h2>
                                    </div>
                                    <form method="get" action="/hub/" style="height: 100%">
                                        {% csrf_token %}

                                        <div style="float: left; width: 55%; height: 100%">
                                            <input name="no" id="input" type="text" placeholder="请输入题目编号, 如 M0001"
                                                   style="padding: 4px 10px ;height: 100%; width: 100%; margin: 0 0 0 0; border-color: rgb(52, 152, 219);">

                                        </div>
                                        <div style="float: left; width: 10%; height: 100%">
                                            <button id="input-btn"
                                                    style="border: 0; width: 100%;height: 100%; margin: 0 0 0 0; background-color: rgb(52, 152, 219);">
                                                <h5 style="margin: 2px 0 2px 0; color: white;">搜索</h5>
                                            </button>
                                        </div>
                                        <div style="float: left; width: 25%; height: 100%;">
{#                                            <div style="float: left; width: 50%; padding-left: 50px">#}
{#                                                <h2 style="margin: 0 10px 0 0;float: left; padding: 4px 10px">选择标签</h2>#}
{#                                            </div>#}
                                            <div style="padding-left: 50px; float: left; width: 50%">
                                                <select name="select_tag" style="float: left; padding: 8px 10px ;height: 100%;  margin: 0 0 0 0; border-color: rgb(52, 152, 219);">
                                                    <option value="">选择标签</option>
                                                    <option value="1">函数与极限</option>
                                                    <option value="2">导数与微分</option>
                                                    <option value="3">微分中值定理与导数的应用</option>
                                                    <option value="4">不定积分</option>
                                                    <option value="5">定积分</option>
                                                    <option value="6">微分方程</option>
                                                    <option value="7">向量代数与空间解析几何</option>
                                                    <option value="8">多元函数微分法及其应用</option>
                                                    <option value="9">重积分</option>
                                                    <option value="10">曲线积分与曲面积分</option>
                                                    <option value="11">无穷级数</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div style="margin-bottom: 32px;">
            <div style="margin: 20px 51.729px 0px">

                <div style="display: block;box-sizing: border-box;overflow: hidden;">
                    <div style="padding: 0px 10px;overflow: hidden;">
                        <div style="margin: 0px 0px 15px;padding: 16px;background-color: rgba(255,255,255,.7);overflow: hidden;">
                            <div style="margin: 0px 10px;overflow: hidden;">

                                {#                                    <form method="get" action="/hub/" style="height: 100%">#}
                                <div style="float: left; width: 5%; display:flex;align-items: center;justify-content:center;">
                                    <span>状态</span></div>
                                <div style="float: left; width: 10%; display:flex;align-items: center;justify-content:center;">
                                    <span>题号</span>
                                    <a href="/hub/?orderBy=no&order={% if orderBy == "no" %}{% if order == "asc" %}desc{% elif order == "desc" %}none{% else %}asc{% endif %}{% else %}asc{% endif %}">

                                        <button style="height: 100%; background-color:#fff; border-color: white; border: 0; padding: 0">
                                            <img name="no"
                                                 src="../static/icons/{% if orderBy != "no" %}中{% elif order == "asc" %}下{% elif order == "desc" %}上{% else %}中{% endif %}.svg"
                                                 style="height: 15px">

                                        </button>
                                    </a>
                                </div>
                                <div style="float: left; width: 35%;">
                                    <span>题目</span></div>
                                <div style="float: left; width: 30%; display:flex;align-items: center;justify-content:center;">
                                    <span>标签</span></div>
                                <div style="float: left; width: 10%; display:flex;align-items: center;justify-content:center;">
                                    <span>难度</span>
                                    <a href="/hub/?orderBy=difficulty&order={% if orderBy == "difficulty" %}{% if order == "asc" %}desc{% elif order == "desc" %}none{% else %}asc{% endif %}{% else %}asc{% endif %}">
                                        <button style="height: 100%; background-color:#fff; border-color: white; border: 0; padding: 0">
                                            <img name="difficulty"
                                                 src="../static/icons/{% if orderBy != "difficulty" %}中{% elif order == "asc" %}下{% elif order == "desc" %}上{% else %}中{% endif %}.svg"
                                                 style="height: 15px">
                                        </button>
                                    </a>
                                </div>
                                <div style="float: left; width: 10%; display:flex;align-items: center;justify-content:center;">
                                    <span>通过率</span>

                                    <a href="/hub/?orderBy=pass_ratio&order={% if orderBy == "pass_ratio" %}{% if order == "asc" %}desc{% elif order == "desc" %}none{% else %}asc{% endif %}{% else %}asc{% endif %}">

                                        <button style="height: 100%; background-color:#fff; border-color: white; border: 0; padding: 0">
                                            <img name="no"
                                                 src="../static/icons/{% if orderBy != "pass_ratio" %}中{% elif order == "asc" %}下{% elif order == "desc" %}上{% else %}中{% endif %}.svg"
                                                 style="height: 15px">

                                        </button>
                                    </a>
                                </div>
                                {#                                    </form>#}

                            </div>
                            <div class="divider" style="height: 5px"></div>
                            {% for q in questions %}
                                <div style="margin: 0px 10px;overflow: hidden;">
                                    <div style="padding: 8px 6px 8px 0px; float: left; width: 5%; height: 100%; background-color: white; display:flex;align-items: center;justify-content:center;">
                                        <img src="../static/icons/{% if q.status == 1 %}正确{% elif q.status == 2 %}错误 (1){% else %}横杠{% endif %}.svg"
                                             style="height: 20px"></div>
                                    <div style="padding: 8px 6px 8px 0px; float: left; width: 10%; height: 100%; background-color: white; display:flex;align-items: center;justify-content:center;">{{ q.no }}</div>
                                    <div style="padding: 8px 6px 8px 0px; float: left; width: 35%;height: 100%; background-color: white">
                                        <a href="{{ q.no }}">{{ q.title }}</a></div>
                                    <div style="padding: 5px 6px 5px 0px; float: left; width: 30%;height: 100%; background-color: white; display:flex;align-items: center;justify-content:center;">
                                        {% for tag in q.tag %}
                                            <div style="padding: 5px 5px; margin: 0 5px; background-color:skyblue; color: white;">
                                                {{ tag }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div style="padding: 8px 6px 8px 0px; float: left; width: 10%;height: 100%; background-color: white; display:flex;align-items: center;justify-content:center;">{{ q.difficulty }}</div>
                                    <div style="padding: 8px 6px 8px 0px; float: left; width: 10%;height: 100%; background-color: white; display:flex;align-items: center;justify-content:center;">
                                        <div style="margin: 0 15%;background-color:lightgray;width: 100%">
                                            <div style="background-color:deepskyblue; width: {{ q.pass_ratio }}%">&emsp;
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="divider" style="height: 3px"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
{% endblock %}
{% block js %}

    <script type="text/javascript">
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })

        function c() {
            alert(55);
            $.ajax({
                url: "/hub/",
                type: "get",
                async: false,
                data: {
                    "subject": document.getElementById("no").innerText.slice(0, -4),
                    "no": document.getElementById("no").innerText.slice(-4),
                    "status": "wa",
                    csrfmiddlewaretoken: '{{ csrf_token  }}'
                },
                success: function (res) {

                }
            })
        }

        $(document).ready(function () {

        });
    </script>
{% endblock %}