{% extends "luogu/loginbase.html" %}
{% block content %}
                <div class="login" style="position:absolute;right: 0">
                    <div class="modal-info" style="background:rgba(67, 91, 108, 0.7);">
                        <div class="modal-header">
                            <h2>SIGN IN</h2>
                        </div>
                        <div class="modal-body modal-spa">
                            <div class="login-form">
{#                                <form action="#" method="post">#}
{#                                    {% csrf_token %}#}
                                    <input id="id" type="text" class="user" name="username" placeholder="User name" required=""/>
                                    <input id="psw" type="password" class="lock" name="password" placeholder="Password" required=""/>
                                    <div class="signin-rit">

                                        <a class="forgot" href="#">Forgot Password?</a>
                                        <div class="clear"></div>
                                    </div>
                                    <input id="btn" type="submit" value="SIGN IN" style="opacity: 0.7">
{#                                </form>#}
                                    <a href="/register">
                                        <input type="submit" value="SIGN UP" style="margin-top: 2px;opacity: 0.7">
                                    </a>
                            </div>
                        </div>
                    </div>
                    <!-- //login -->
                    <div class="clear"></div>
                </div>

    <script>
    $.ajaxSetup({
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    })
    $("#btn").click(function () {
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
        $.ajax({
            url: "/login/",
            type: "post",
            async: true,
            data: {
                "username": $("#id").val(),
                "password": $("#psw").val(),
            },
            success: function (res) {
                if (res['result'] == false) {
                    alert(res['message']);
                } else {
                    window.location = "/";
                }
            }
        })
    });
</script>

{% endblock %}