{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>首页</title>#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"#}
{#          rel="stylesheet">#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">#}
{#    <link href="/static/css/common.css" rel="stylesheet">#}
{#    <link href="/static/css/index.css" rel="stylesheet">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <title></title>#}
{#    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->#}
{#    <!-- Bootstrap css -->#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"#}
{#          rel="stylesheet">#}
{#    <!-- kendo ui css -->#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"#}
{#          rel="stylesheet">#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"#}
{#          rel="stylesheet">#}
{#    <!-- font-awesome -->#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">#}
{#    <!--蓝鲸提供的公用样式库 -->#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">#}
{#    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">#}
{#    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->#}
{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>#}
{#    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->#}
{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>#}
{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>#}
{#    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->#}
{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>#}
{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>#}
{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>#}
{#    <!-- 数据埋点统计 -->#}
{#    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>#}
{#    {% block css %} {% endblock %}#}
{##}
{#</head>#}
{##}
{#<body style="background-color: gray;font-weight: 400;">#}
{##}
{#<!--<div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 60px);margin: 0px 0px 0px 60px">-->#}
{#<div class="bk-layout bk-layout-has-sidebar"#}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>首页</title>

    {% load staticfiles %}
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="{% static 'luogu/css/common.css' %}" rel="stylesheet">
    <link href="{% static 'luogu/css/index.css' %}" rel="stylesheet">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。这个牛逼 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    {% block jsUp %}{% endblock %}
    {% block css %}{% endblock %}
</head>

<body style="background-color: gray;font-weight: 400;">

<!--<div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 60px);margin: 0px 0px 0px 60px">-->
<div class="bk-layout bk-layout-has-sidebar"
     style="width: 100%;background-color: rgb(239, 239, 239); float: left;">
    <div style="width: 100%">
        <!--上导航-->
        <div style="height: 4em;background: #fff !important;padding-left: 1em;padding-right: 1em;position: relative;font-size: 16px;
            line-height: 1.5;color: rgba(0, 0, 0, .85);box-sizing: border-box;display: block;font-weight: 400;">
            <div style="float: left; filter: blur(0px) brightness(100%);margin-left: 15%">
                <a href="/"><img src="{% static 'luogu/image/logo4.png' %}" style="width: auto;height: 4em;"></a>
            </div>
            <div style="display: flex;flex-direction: row;align-items: center;padding-left: 1em;padding-right: 1em;
                height: 100%;color: #333;max-width: 1200px;margin-right: auto;ont-size: 16px;line-height: 1.5;">
                <div style="display: block;color: #333;font-size: 16px;line-height: 1.5;">
                    <img>
                </div>
                <div style="display:table;padding-left: 48px;color: #333;height: 100%;flex: 1;padding-left: 3em;font-size: 16px;line-height: 1.5;">
                    <div style="float: left;display:flex;align-items: center;justify-content:center; height: 100%">
                        <a href="/makeNews"
                           style="width: 100px;vertical-align:middle;display:table-cell;margin-right:32px;vertical-align: middle;margin-right: 2em;text-decoration: none;color: #3498db;font-size: 16px;line-height: 1.5;">
                            <span style="color: rgb(38, 38, 38);">我要出题</span>
                        </a>
                    </div>
                    <div style="float: left;display:flex;align-items: center;justify-content:center; height: 100%">
                        <a href="/index"
                           style="width: 100px;vertical-align:middle;display:table-cell;margin-right:32px;vertical-align: middle;margin-right: 2em;text-decoration: none;color: #3498db;font-size: 16px;line-height: 1.5;">
                            <span style="color: rgb(38, 38, 38);">广告位招租</span>
                        </a>
                    </div>

                </div>
                <nav style="position: relative;color: #333;font-size: 16px;line-height: 1.5;font-weight: 400;">
                    {% if request.session.is_login %}
                        <a href="/user/{{ request.session.user_name }}"
                           style="text-decoration: none;color: inherit;background-color: transparent;font-size: 16px;line-height: 1.5;">
                            <span style="font-size: .8em;margin-left: .5em;color: inherit;">{{ request.session.user_name }}</span>
                        </a>
                        <a href="/logout"
                           style="text-decoration: none;color: inherit;background-color: transparent;font-size: 16px;line-height: 1.5;">
                            <span style="font-size: .8em;margin-left: .5em;color: inherit;">退出</span>
                        </a>
                        <a href="/user/{{ request.session.user_name }}">
                            <img src="{% static 'luogu/image/personalHead/' %}{{ request.session.user_name }}.jpg" style="margin-left: .4em;vertical-align: middle;width: 35px;height: 35px;
                            border-radius: 50%;border-style: none;box-sizing: border-box;border: 0;color: #333;font-size: 16px;line-height: 1.5;">
                        </a>

                    {% else %}
                    <a href="/login"
                       style="text-decoration: none;color: inherit;background-color: transparent;font-size: 16px;line-height: 1.5;">
                        <span style="font-size: .8em;margin-left: .5em;color: inherit;">登录</span>
                    </a>
                    <a href="/register"
                       style="text-decoration: none;color: inherit;background-color: transparent;font-size: 16px;line-height: 1.5;">
                        <span style="font-size: .8em;margin-left: .5em;color: inherit;">注册</span>
                    </a>
                        <img src="{% static 'luogu/image/personalHead/none.jpg' %}" style="margin-left: .4em;vertical-align: middle;width: 35px;height: 35px;
                        border-radius: 50%;border-style: none;box-sizing: border-box;border: 0;color: #333;font-size: 16px;line-height: 1.5;">

                    {% endif %}
                </nav>
            </div>
        </div>

        <!--主体-->

        <main>

            <link rel="stylesheet" href="{% static 'luogu/makeNews/css/editormd.css' %}"/>
            {% block content %} {% endblock %}
            <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
            <script src="{% static 'luogu/makeNews/editormd.min.js' %}"></script>

        <!--引入样式文件-->
        <link rel="stylesheet" href="{% static 'luogu/makeNews/examples/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'luogu/makeNews/css/editormd.preview.css' %}" />

        <!--引入js文件-->
        <script src="{% static 'luogu/makeNews/examples/js/jquery.min.js' %}"></script>
        <script src="{% static 'luogu/makeNews/lib/marked.min.js' %}"></script>
        <script src="{% static 'luogu/makeNews/lib/prettify.min.js' %}"></script>
        <script src="{% static 'luogu/makeNews/lib/raphael.min.js' %}"></script>
        <script src="{% static 'luogu/makeNews/lib/underscore.min.js' %}"></script>
        <script src="{% static 'luogu/makeNews/lib/sequence-diagram.min.js' %}"></script>
        <script src="{% static 'luogu/makeNews/lib/flowchart.min.js' %}"></script>
        <script src="{% static 'luogu/makeNews/lib/jquery.flowchart.min.js' %}"></script>
        <script src="{% static 'luogu/makeNews/editormd.js' %}"></script>
            {% block js %} {% endblock %}
        </main>
    </div>
</div>


</body>

</html>