{% extends "luogu/base.html" %}
{% load staticfiles %}
{% block main %}


    <main style="min-height: 900px;display: block;background-color:rgb(239, 239, 239); padding-left: 1em; padding-right: 1em; flex: 1">
    <div style="margin-left: 13%;margin-right: 13%">
        <div style="width: 25%;float: left;margin-top: 5%">
            <img  width="260" id="headimg" style="border-radius: 50%"
                 src="{% static "luogu/" %}image/personalHead/{{ username }}.jpg"
                 alt="{{ username }}">
            {% if benren %}
            <input type="file" id="headimg-upload" style="display: none;" onchange="uploadimg()">
            {% endif %}
            <div style="margin-left: 10%">
                <h1>
                    <span style=" font-weight: 600; line-height: 30px;font-size: 30px;display: block">{{ username }}</span>
                    <span style="color: #666; font-weight: 300; line-height: 24px;font-size: 20px;display: block">{{ username }}</span>
                </h1>
            </div>
{#            <div style="margin-left: 10%"><h1><a href="/blog/personal/{{ username }}">{% if benren %}我{% else %}TA{% endif %}的博客</a></h1></div>#}
            <div style="margin-left: 10%"><h1><a href="/notes/{{ username }}">{% if benren %}我{% else %}TA{% endif %}的笔记</a></h1></div>
        </div>
        <div style="width: 75%;float: left">

            <div style="max-width: 1200px; margin-left: auto; margin-right: auto;">
                <div style="margin-top: 1.5rem;margin-bottom: 1.3em;background-color:#fff;box-shadow: 0 1px 3px rgba(26, 26, 26, .1); box-sizing: border-box">
                    <div style="background-image: url('https://cdn.luogu.org/images/bg/fe/DSCF0530-shrink.jpg'); position: relative; height: 240px;background-size: cover;background-position:center;">
{#                        <div>#}
{#                            <img id="headimg"#}
{#                                 style="width: 64px; height: 64px; border-radius: 50%; position: absolute; bottom: 24px; left: 24px; border: 1px solid #979797"#}
{#                                 src="/static/image/personalHead/{{ request.session.user_name }}.jpg"#}
{#                                 alt="{{ request.session.user_name }}">#}
{#                            <input type="file" id="headimg-upload" style="display: none;" onchange="uploadimg()">#}
{#                        </div>#}
{#                        <div style="color: #fff;position:absolute;bottom: 30px;left: 96px;text-shadow: 1px 1px 3px #333">#}
{#                            <div style="font-size: 1.5em; color: #fff;text-shadow: 1px 1px 3px #333">{{ request.session.user_name }}</div>#}
{#                            <div style="font-size: 0.875em;color: #fff;text-shadow: 1px 1px 3px #333">{{ motto }}</div>#}
{#                        </div>#}
    {#                    <div style="font-size: 0.875em;vertical-align: middle;position: absolute;bottom: 24px;right: 12px;color: #fff">#}
    {#                        <a>个人博客</a>#}
    {#                        <a>个人设置</a>#}
    {#                    </div>#}
                    </div>
                </div>
            </div>
            <div style="max-width: 1200px; margin-left: auto; margin-right: auto;">
                <div style="margin-top: 1.5rem;margin-bottom: 1.3em;background-color:#fff;box-shadow: 0 1px 3px rgba(26, 26, 26, .1); box-sizing: border-box">
                    <div style="position: relative; height: 240px;background-size: cover;background-position:center;">
                        <div style="border-top-left-radius: 3px;border-top-right-radius: 3px;padding-top: 8px!important;padding-bottom: 8px!important;border-color: #d1d5da!important;border: 1px solid #e1e4e8!important;box-sizing: border-box;">
                            <div style="border: 8px; border-color: lightgray; display: flex!important;text-align: center!important;padding-top: 4px!important;margin-right: 16px!important;margin-left: 16px!important;height: 100%!important;overflow: hidden!important;align-items: center!important;flex-direction: column!important;">
                                <div style="float:left;width: 90%">
                                <h4 style="float: left">{{ sum }} contributions in the last year</h4>
                                </div>
                                <div style="float:left;width: 10%"></div>
                                <svg width="890" height="128" class="js-calendar-graph-svg">
    {#                                <div style="border: 8px; border-color: lightgray">#}
                                        <g transform="translate(10, 20)"
                                           data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:49059247,&quot;target&quot;:&quot;CONTRIBUTION_CALENDAR_SQUARE&quot;,&quot;user_id&quot;:49059247,&quot;originating_url&quot;:&quot;https://github.com/0-ng&quot;}}"
                                           data-hydro-click-hmac="afa09c21ecc21f6b9a40a11b4583f6ae846d467349e29233056b617c7d7f213f">
                                            {% for g in a %}
                                            <g transform="translate({{ g.offset }}, 0)">
                                                {% for rect in g.ls %}
                                                        <a href="/user/{{ username }}/?date={{ rect.date }}" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
                                                            data-content="{% if rect.num == 0 %}No contributions{% elif rect.num == 1 %}1 contribution{% else %}{{ rect.num }} contributions{% endif %} on {{ rect.date }}">
                                                        <rect style="background-image: none;" class="day" width="12" height="12" x="16" y="{{ rect.y }}" fill="#{% if rect.num == 0 %}ebedf0{% elif rect.num < 5 %}d0edff{% elif rect.num < 10 %}a3dcff{% elif rect.num < 15 %}6bc6ff{% elif rect.num < 20 %}2baeff{% elif rect.num < 25 %}009dff{% else %}007ecc{% endif %}"
                                                              data-count="{{ rect.num }}" data-date="{{ rect.date }}"></rect>
                                                        </a>
                                                {% endfor %}
                                            </g>
                                            {% endfor %}

                                        </g>
                                <text x="16" y="-9" class="month">Jun</text>
                                  <text x="61" y="15" class="month">Jul</text>
                                  <text x="121" y="15" class="month">Aug</text>
                                  <text x="181" y="15" class="month">Sep</text>
                                  <text x="256" y="15" class="month">Oct</text>
                                  <text x="316" y="15" class="month">Nov</text>
                                  <text x="376" y="15" class="month">Dec</text>
                                  <text x="451" y="15" class="month">Jan</text>
                                  <text x="511" y="15" class="month">Feb</text>
                                  <text x="571" y="15" class="month">Mar</text>
                                  <text x="646" y="15" class="month">Apr</text>
                                  <text x="706" y="15" class="month">May</text>
                                  <text x="781" y="15" class="month">Jun</text>
                                <text text-anchor="start" class="wday" dx="860" dy="30">Mon</text>
                                <text text-anchor="start" class="wday" dx="860" dy="61">Wed</text>
                                <text text-anchor="start" class="wday" dx="860" dy="89">Fri</text>
                                <text text-anchor="start" class="wday" dx="860" dy="120">Sun</text>
    {#                                </div>#}
                                </svg>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div style="max-width: 1200px; margin-left: auto; margin-right: auto;">
            <div style="margin-top: 1.5rem;margin-bottom: 1.3em;background-color:#fff;box-shadow: 0 1px 3px rgba(26, 26, 26, .1); box-sizing: border-box">
                <div style="position: relative;background-size: cover;background-position:center;">
                    <div style="border-top-left-radius: 3px;border-top-right-radius: 3px;padding-top: 8px!important;padding-bottom: 8px!important;border-color: #d1d5da!important;border: 1px solid #e1e4e8!important;box-sizing: border-box;">
                        <div style="border: 8px; border-color: lightgray; display: flex!important;text-align: center!important;padding-top: 4px!important;margin-right: 16px!important;margin-left: 16px!important;height: 100%!important;overflow: hidden!important;align-items: center!important;flex-direction: column!important;">
                        {% if his %}
                            {% for h in his %}
                                <div style="width: 100%;margin-left: 16px; padding: 24px;position: relative;border-bottom: 1px solid #e8e8e8">
                                    <div style="width: 10%;float: left">&emsp;</div>
                                    <div style="width: 20%;float: left">
                                        <img id="headimg"
                                             style=" height: 60%; border-radius: 50%; position: absolute; bottom: 24px; left: 5%; border: 1px solid #979797"
                                             src="{% static "luogu/" %}image/personalHead/{{ username }}.jpg"
                                             alt="{{ username }}">
                                    </div>
                                    <div style="width: 30%;float: left">
                                        <h4>{{ h.username }}</h4>
                                        <h4>{{ h.date }}</h4>
                                    </div>
                                    <div style="width: 10%;float: left; height: 100%; padding: 0 6%">&emsp;
                                        {% if h.status == 1 %}
                                        <h4 style="padding: 1%; position: absolute;top: 30%; background:rgb(82,196,26);color: #fff">Accepted</h4>
                                        {% else %}
                                        <h4 style="padding: 1%; position: absolute;top: 30%; background:rgb(231,76,60);color: #fff">Unaccepted</h4>
                                        {% endif %}
                                    </div>
                                    <div style="width: 30%;float: left;">&emsp;
                                        <a href="/hub/{{ h.question.no }}">
                                            <h4 style="position: absolute;top: 35%; left: 65%">{{ h.question }} {{ h.question.title }}</h4>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div style="width: 100%;margin-left: 16px; padding: 24px;position: relative;border-bottom: 1px solid #e8e8e8">
                                <div style="width: 10%;float: left">&emsp;</div>
                                <div style="width: 20%;float: left">
                                        <img id="headimg"
                                             style=" height: 60%; border-radius: 50%; position: absolute; bottom: 24px; left: 5%; border: 1px solid #979797"
                                             src="{% static "luogu/" %}image/personalHead/{{ username }}.jpg"
                                             alt="{{ username }}">
                                </div>
                                <div><h1>摸鱼的一天真开心</h1></div>

                            </div>
                        {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>

    </div>
    </main>

{% endblock %}
{% block js %}

    <script>
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
    <script>
        $(document).ready(function () {

            $('#headimg').click(function () {
                $('#headimg-upload').click();
                {#uploadimg();#}
            })
            $('.day').mouseleave(function (e) {
                console.log("leave");

            })
            $('.day').mouseenter(function (e) {
                var xx = e.originalEvent.x || e.originalEvent.layerX || 0;
                var yy = e.originalEvent.y || e.originalEvent.layerY || 0;
                console.log(e)
                console.log(e.currentTarget.dataset.count);
                console.log(e.currentTarget.dataset.date);
            })
        });
        function uploadimg() {
            var img_file = $('#headimg-upload')[0].files[0];
            var reader_file = new FileReader();
            reader_file.readAsDataURL(img_file);
            reader_file.onload = function (ev) {
                $('#headimg-show').attr('src', ev.target.result);
                var formdata = new FormData();
                formdata.append('img_name', img_file.name);
                formdata.append('img_file', img_file);
                formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                $.ajax({
                    url: "/user/{{ request.session.user_name }}/",
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (data, status) {
                        window.location.reload(true);
                    }
                });
            }
        }
    </script>

{% endblock %}