{% extends "luogu/loginbase.html" %}
{% block content %}

                <div class="signup" style="float: right;margin-left: 30%">
                    <div class="modal-info" style="background:rgba(67, 91, 108, 0.7);">
                        <div class="modal-header">
                            <h2>SIGN UP</h2>
                        </div>
                        <div class="modal-body modal-spa">
                            <div class="login-form">
                                <form action="#" method="post" id="signup">
                                    {% csrf_token %}


                                    <ol>
                                        <li>
                                            <input type="text" id="username" name="name" placeholder="User name" title="Name"
                                                   required/>
                                        </li>
                                        <li>
                                            <input type="password" class="lock" name="password"
                                                   title="Minimum 8 characters, one number, one uppercase and one lowercase letter"
                                                   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*"
                                                   placeholder="Password" id="password1" required/>
                                            <p class="validation01">
                                                <span class="invalid">Minimum 8 characters, one number, one uppercase letter and one lowercase letter</span>
                                                <span class="valid">Your password meets our requirements, thank you.</span>
                                            </p>
                                        </li>
                                        <li>
                                            <input type="password" class="lock" name="password"
                                                   title="Minimum 8 characters, one number, one uppercase and one lowercase letter"
                                                   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*"
                                                   placeholder="Confirm password" id="password2" required/>
                                            <p class="validation01">
                                                <span class="invalid">Minimum 8 characters, one number, one uppercase letter and one lowercase letter</span>
                                                <span class="valid">Your password meets our requirements, thank you.</span>
                                            </p>
                                        </li>
                                        <li>
                                            <input type="email" class="lock" name="password"
                                                   title="Email"
                                                   placeholder="Email" id="email" required/>
        <!--                                    <p class="validation01">-->
        <!--                                        <span class="valid">Email</span>-->
        <!--                                        <span class="invalid">Your Email meets our requirements, thank you.</span>-->
        <!--                                    </p>-->
                                        </li>
                                            </ol>

                                    <input type="submit" value="SIGN UP" id="register_submit" style="margin-top: 2px;opacity: 0.7">
                                </form>
                                    <a href="/login">
                                        <input type="submit" value="SIGN IN" style="margin-top: 2px;opacity: 0.7">
                                    </a>


                        <!-- script for password confirmation -->
                        <script type="text/javascript">
                            window.onload = function () {
                                document.getElementById("password1").onchange = validatePassword;
                                document.getElementById("password2").onchange = validatePassword;
                            }

                            function validatePassword() {
                                var pass2 = document.getElementById("password2").value;
                                var pass1 = document.getElementById("password1").value;
                                if (pass1 != pass2) {
                                    document.getElementById("password2").setCustomValidity("Passwords Don't Match");
                                    return 1;
                                }
                                else {
                                    document.getElementById("password2").setCustomValidity('');
                                    return 0;
                                }
                                //empty string means no validation error
                            }
                        </script>
                        <!-- //script for password confirmation -->
                            </div>
                        </div>
                    </div>
                    <!-- //login -->
                    <div class="clear"></div>
                </div>
<script>
    function register() {
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
        })
        $.ajax({
            url: "/register/enter",
            type: "post",
            data: {
                "username": $("#username").val(),
                "password": $("#password1").val(),
                "email": $("#email").val(),
            },
            success: function (res) {
                if(res['result']){
                    window.location = "/login";
                }else{
                    alert(res['message']);
                }
            }
        })
    }

    $("#register_submit").click(function () {
        if(validatePassword()||$("#password1").val().length<8)
            return;

        register()
    })

</script>
{% endblock %}


