{% extends "luogu/base.html" %}
{% load staticfiles %}
{% block main %}
    <main>
        <div style="margin: 2% 15%;margin-bottom: 1%">
            <div style="margin-bottom: 1%; padding: 1%;background-color: rgba(255,255,255,.7);">
                <div style="margin: 0px 10px;overflow: hidden;">
                    <div class="king-container clearfix"
                         style="width: 66.66666667%;padding: 0px 10px;float: left">
                        <div id="demo1" data-ride="carousel" class="carousel slide ">
                            <!-- 图片底部的切换按钮 -->
                            <!--必须有data-target="#demo1"，否则控制无效-->
                            <ol class="carousel-indicators">
                                <li data-target="#demo1" class="active" data-slide-to="0"></li>
                                <li data-target="#demo1" data-slide-to="1" class=""></li>
                                <li data-target="#demo1" data-slide-to="2" class=""></li>
{#                                <li data-target="#demo1" data-slide-to="3" class=""></li>#}
                            </ol>
                            <!-- 图片列表,如需添加文字说明，在item里加上carousel-caption就可以 -->
                            <div class="carousel-inner" role="listbox">
                                <!-- 必须有一个item加上active-->
                                <div class="item active">
                                    <img alt="" src="{% static 'luogu/image/ban/1.png' %}">

                                    <div class="carousel-caption">
{#                                        <h3>文字一</h3>#}
{#                                        <p>文字二</p>#}
                                    </div>
                                </div>
                                <div class="item">
                                    <img alt="" src="{% static 'luogu/image/ban/2.png' %}">
                                    <div class="carousel-caption">
{#                                        <h3>文字er</h3>#}
{#                                        <p>文字二</p>#}
                                    </div>
                                </div>
                                <div class="item">
                                    <img alt="" src="{% static 'luogu/image/ban/3.png' %}">
                                    <div class="carousel-caption">
{#                                        <h3>文字er</h3>#}
{#                                        <p>文字三</p>#}
                                    </div>
                                </div>
                            </div>
                            <!--左右的切换按钮-->
                            <!--必须有data-target="#demo1"，否则控制无效-->
                            <a class="left carousel-control" href="#demo1" role="button"
                               data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                                <span class="sr-only">上一张</span>
                            </a>
                            <a class="right carousel-control" href="#demo1" role="button"
                               data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"
                                                      aria-hidden="true"></span>
                                <span class="sr-only">下一张</span>
                            </a>
                        </div>
                        <!-- 设置面板样式一Start -->
                        <!-- 设置面板样式一End -->
                    </div>
                    <div style="width: 33.333333333%;padding: 0px 10px;float: left">
                        <img alt="" src="{% static 'luogu/image/demo4.jpg' %}">

                    </div>
                </div>
            </div>
            <div style="margin-bottom: 1%; ">
                <div style="width: 25%;float: left;background-color: rgba(255,255,255,.7);">
                    <div style="padding: 6% 15%; ">
                        <span style="font-size: 1.25em;margin: 0 0 1.6rem;font-weight: 600;box-sizing: border-box;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;
                            margin-inline-start: 0px;margin-inline-end: 0px;line-height: 1.5;color: rgba(0, 0, 0, .85);text-rendering: optimizeLegibility;">问题跳转</span>
                        <div style="position: relative;display: table;border-collapse: separate;box-sizing: border-box;font-size: 16px;
                                            line-height: 1.5;color: rgba(0, 0, 0, .85);font-weight: 400;box-sizing: border-box;">
                            <input placeholder="例：P1001，可跳至A+B" style="border-color: #0e90d2;vertical-align: middle;height: 33px;font-size: 1.4rem!important;display: table-cell;border-bottom-left-radius: 0;
                                            border-top-left-radius: 0;border-bottom-right-radius: 0;border-top-right-radius: 0;vertical-align: middle;height: 33px;font-size: 1.4rem!important; display: table-cell;position: relative;
                                            z-index: 2;float: left;width: 100%;margin-bottom: 0; line-height: 1.2;color: #555; padding: .5em; background-color: #fff;background-image: none;border: 1px solid #ccc;
                                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;    overflow: visible;    font-family: inherit;    margin: 0;box-sizing: border-box;letter-spacing: normal;
                                            word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;text-align: start;cursor: text;border-collapse: separate;">
                        </div>
                        <div style="margin: 16px 0px">
                            <button name="goto" style="border-radius: 5px;font-size: 1.4rem;color: #fff;background-color: #dd514c;border-color: #dd514c;display: inline-block;margin-bottom: 0;
                                        padding: .5em 1em;font-weight: 400;line-height: 1.2;text-align: center;white-space: nowrap;border: 1px solid transparent;cursor: pointer;outline: 0;
                                        transition: background-color 300ms ease-out,border-color 300ms ease-out;vertical-align: middle;text-transform: none;overflow: visible;font-family: inherit;">
                                跳转
                            </button>
                            <button name="gotorandom" style="border-radius: 5px;font-size: 1.4rem;color: #fff;background-color: #0c79b1;border-color: #0a6999;display: inline-block;margin-bottom: 0;
                                        padding: .5em 1em;font-weight: 400;line-height: 1.2;text-align: center;white-space: nowrap;border: 1px solid transparent;cursor: pointer;outline: 0;
                                        transition: background-color 300ms ease-out,border-color 300ms ease-out;vertical-align: middle;text-transform: none;overflow: visible;font-family: inherit;">
                                随机跳题
                            </button>
                        </div>
                    </div>
                </div>
                <div style="width: 2.5%;float: left;">&emsp;</div>
                <div style="width: 45%;float: left;background-color: rgba(255,255,255,.7);">
                    <div style="padding: 4.5% 15%;">

                        <span style="font-size: 1.25em;margin: 0 0 1.6rem;font-weight: 600;box-sizing: border-box;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;
                            margin-inline-start: 0px;margin-inline-end: 0px;line-height: 1.5;color: rgba(0, 0, 0, .85);text-rendering: optimizeLegibility;">猜你在做</span>

                        <div>
                            <table border="3px" bordercolor="white">
                            {% for tags in tagls %}
                                <tr>
                                    {% for tag in tags %}
                                        <td style="text-align: center">
                                            <div style="padding: 5px 5px; margin: 4px; background-color:skyblue; color: white;">
                                                <a href="/hub/?select_tag={{ tag.num }}" style="color: white">{{ tag.name }}</a>
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div style="width: 2.5%;float: left;">&emsp;</div>
                <div style="width: 25%;float: left;background-color: rgba(255,255,255,.7);">
                    <div style="padding: 3.5% 6%;">

                        <span style="font-size: 1.25em;margin: 0 0 1.6rem;font-weight: 600;box-sizing: border-box;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;
                            margin-inline-start: 0px;margin-inline-end: 0px;line-height: 1.5;color: rgba(0, 0, 0, .85);text-rendering: optimizeLegibility;">推荐</span>
                        <div style="padding: 4% 5% 16% 10%">
                            {% if recommend %}
                            <a href="/hub/{{ recommend.no }}"><h3>{{ recommend.no }} {{ recommend.title }}</h3></a>
                            {% else %}
                                <h3>无做题历史</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div style="clear:both"></div>
            </div>
            <div style="margin-bottom: 1%; ">

                <div style="float: left;width: 60%; padding: 1%;background-color: rgba(255,255,255,.7)">

                    <div style="padding: 2% 5% 0 5%; ">
                        <span style="font-size: 1.25em;margin: 0 0 1.6rem;font-weight: 600;box-sizing: border-box;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;
                            margin-inline-start: 0px;margin-inline-end: 0px;line-height: 1.5;color: rgba(0, 0, 0, .85);text-rendering: optimizeLegibility;">最近大佬在做</span>
                    </div>
                {% for h in his %}
                    <div style="width: 100%;margin-left: 16px; padding: 24px;position: relative;border-bottom: 1px solid #e8e8e8">
                        <div style="width: 10%;float: left">&emsp;</div>
                        <div style="width: 10%;float: left">
                            <img id="headimg"
                                 style=" width:60%; border-radius: 50%; border: 1px solid #979797"
                                 src="{% static "luogu/" %}image/personalHead/{{ h.username }}.jpg"
                                 alt="{{ h.username }}">
                        </div>
                        <div style="width: 20%;float: left; margin-top: 1.5%">
                            <h4 style="font-weight: bold; color: green">{{ h.username }}</h4>
                        </div>
                        <div style="width: 30%;float: left; margin-top: 1.5%">
                            <h4>{{ h.date }}</h4>
                        </div>
                        <div style="width: 30%;float: left; margin-top: 1.5%">
                            <a href="/hub/{{ h.question.no }}">
                                <h4>{{ h.question }} {{ h.question.title }}</h4>
                            </a>
                        </div>
                        <div style="clear:both"></div>

                    </div>
                {% endfor %}
                </div>
                <div style="width: 2.5%;float: left;">&emsp;</div>
                <div style="float: left;width: 37.5%; padding: 1%;background-color: rgba(255,255,255,.7)">

                    <div style="padding: 2% 5% 0 5%; ">
                        <span style="font-size: 1.25em;margin: 0 0 1.6rem;font-weight: 600;box-sizing: border-box;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;
                            margin-inline-start: 0px;margin-inline-end: 0px;line-height: 1.5;color: rgba(0, 0, 0, .85);text-rendering: optimizeLegibility;">公告</span>
                        {% for link in links %}
                            <a href="{{ link.src }}">{{ link.name }}</a>
                        {% endfor %}
                        <div style="border-bottom: 1px solid #e8e8e8"><a href=""><h4>主题库题目规范</h4></a></div>
                        <div style="border-bottom: 1px solid #e8e8e8"><a href=""><h4>公告2</h4></a></div>
                        <div style="border-bottom: 1px solid #e8e8e8"><a href=""><h4>公告3</h4></a></div>
                        <div style="border-bottom: 1px solid #e8e8e8"><a href=""><h4>公告4</h4></a></div>
                        <div style="border-bottom: 1px solid #e8e8e8"><a href=""><h4>公告5</h4></a></div>
                    </div>
                </div>
            </div>
                <div style="clear:both"></div>

        </div>

    </main>





{% endblock %}
{% block js %}


{% endblock %}